.App {
  /* text-align: center; */
}

.App-link {
  color: #61dafb;
}

.Row {
    text-align: center;
    width: 100vw;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    background: #262935;
}

.Column {
    padding-top: 16px;
    text-align: center;
    width: 28vw;
    margin-left: 2vw;
    margin-right: 2vw;
    display: inline-block;
    vertical-align: middle;
}

.ECSComponent {
    cursor: pointer;
    display: inline-block;
    border: 1px solid #23895B;
    border-radius: 4px;
    margin: 8px;
    padding: 4px;
}

.ECSSystem {
    cursor: pointer;
    display: inline-block;
    border: 1px solid #23395B;
    border-radius: 4px;
    margin: 8px;
    padding: 4px;
}

.ECSTag {
    cursor: pointer;
    display: inline-block;
    border: 1px solid #B3595B;
    border-radius: 4px;
    margin: 8px;
    padding: 4px;
}

.ECSActiveSystem {
    cursor: pointer;
    display: inline-block;
    border: 1px solid #23395B;
    border-radius: 4px;
    margin: 8px;
    padding: 4px;
    color: #161925;
    background: #A7CECB;
}

.ECSViewComponent {
    cursor: pointer;
    display: inline-block;
    border: 1px solid #23395B;
    border-radius: 4px;
    margin: 8px;
    padding: 4px;
    color: #161925;
    background: #A7CECB;
}

.ECSGetComponent {
    cursor: pointer;
    display: inline-block;
    border: 1px solid #23395B;
    border-radius: 4px;
    margin: 8px;
    padding: 4px;
    color: #A7CECB;
    background: #23395B;
}

.ECSHasComponent {
    border: 1px solid #D62828;
}

.ECSComponent:hover {
    color: #161925;
    background: #78A1BB;
}

.Search {
    padding: 8px;
    margin: 16px;
    border: 1px solid #23395B;
    border-radius: 4px;
    background: #161925;
    text-align: center;
    color: #A7CECB;
}
